/* tag */
body {
  margin: 0;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  color: #47494a;
  line-height: 1;
}

div {
  display: flex;
}

a {
  color: #ab0000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* id */
#container {
  margin: auto;
  width: 1000px;
  flex-direction: column;
}

#top {
  margin-top: 20px;
}

#title {
  width: 750px;
  height: 80px;
  align-items: center;
  justify-content: center;
  font-size: 40px;
}

#login {
  width: 250px;
  height: 80px;
  align-items: center;
  justify-content: center;
}

#main {
  margin-top: 40px;
  flex-direction: row;
  justify-content: space-between;
}

#left {
  flex-direction: column;
}

#total {
  width: 400px;
  height: 60px;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

#group {
  margin-top: 40px;
  flex-direction: column;
}

#right {
  flex-direction: column;
}

#bottom {
  margin-bottom: 20px;
  width: 1000px;
  height: 80px;
  align-items: center;
  justify-content: center;
}

/* class */
.table-row {
  height: 40px;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.group-row {
  width: 400px;
}

.first-row {
  border-top: 1px solid #e8eaec;
  border-bottom: 1px solid #6a7883;
  font-weight: bold;
}

.middle-row {
  border-bottom: 1px solid #e8eaec;
}

.last-row {
  margin-bottom: 40px;
  border-bottom: 1px solid #e8eaec;
  font-weight: bold;
}

.table-column {
  height: 20px;
  align-items: center;
}

.group-left {
  width: 250px;
}

.group-right {
  width: 100px;
  justify-content: center;
}

.score {
  flex-direction: column;
}

.score-row {
  width: 500px;
}

.score-left {
  width: 250px;
}

.score-right-first {
  width: 200px;
  justify-content: center;
}

.score-right {
  width: 200px;
  justify-content: space-between;
}

.score-right-score {
  width: 80px;
  justify-content: center;
}

.score-right-slash {
  width: 10px;
  justify-content: center;
}
